.App {
  text-align: center;
  //background-image: url('../src/img/giraffe.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  width: 100%;
}

.App .back img{
  position: fixed;
  object-fit: cover;
 /* width: 100%; bazı fotolarda bunu yazmazsan tam yerleşmiyo  */
  height: 80%;
  bottom: 0;
  right: 0;
  mix-blend-mode: screen;
}
.App .back video{
  position: fixed;
  width: 29%;
  height: 79%;
  bottom: 0;
  right: 0%;
  object-fit: cover;
}

.title{
  
  font-family: Courier, monospace;
  font-weight:900;
  margin-right:35%;
  font-size:250%;
  color: #F37E43;
  padding-top:5%;
  padding-bottom:2%;
  border-bottom:3px #F37E43 solid;
}

.App .addButton{
  position:absolute;
  margin-top:6.8%;
  margin-left:10%;
  border-bottom:1px gray solid;
}
.App .sortButton{
  position:absolute;
  margin-top:7.1%;
  padding:0.4%;
  margin-left:15%;
  width:10%;
  border-bottom:1px gray solid;

}
.sortButton .MuiButtonBase-root{
  padding: 2%;
}
.addButton .MuiButtonBase-root{
padding:20%;
}
.boxInput{
  margin-top:4%;
  width:55%;
  margin-left:5%;
  padding-top:3%;
  padding-bottom:2%;
  border-radius:1%;
  border: 1px solid;
  box-shadow: 2px 2px #424949;
  background: #FFEFD5;
}
.boxInput .css-1nrlq1o-MuiFormControl-root{
  margin-right:-65%;
  width:20%;
}
.text{
  width:70%;
}
#modalFirst{
  padding-right:-5%;
}
#addTask{
  margin-top:7%;
  float:left;
}
#cancelTask{
margin-left:17%;
margin-top:7%;
}
.listback{
  color:red;
}
ul li {
  background: #FFF9F0;
  margin-left:7.5%;
  margin-bottom: 0.8%;
  width:47%;
  list-style-type: none;
  border-radius:7px;
  border: 1px solid;
  box-shadow: 4px 3px #424949;
  padding-top:1%;
  padding-bottom:4.5%;

}
/* li listItem{
  margin-top:3%;
} */
ul li span{
  margin-left:7%;
  float:left;
}
#deleteIcon{
  float:right;
  margin-top:-2%;
  padding:1%;
  padding-right:3%;
  cursor: pointer;
  //color: #4BA5BE;
}
#editIcon{
  float:right;
  margin-top:-2%;
  padding:1%;
  padding-right:2%;
  cursor: pointer;
  //color: #4BA5BE;

}
.checkBox{
  float:left;
  padding:1%;
  cursor: pointer;
  margin-top:-2%;
}
#currentDate{
float:left;
margin-left:0%;
margin-top:4%;
font-size: 12px;
color:gray;
}
.boxInput .select .MenuItem{
  width:2%;
}
#standart-basic{
  margin-left:-2%;
}
#modalStatus{
  width:61%;
}
#modalText{
  width:61%;
}
.css-xn6ruc{
  margin-left:-2%;
}
#modal-modal-title{
  margin-right:12%;
}

